
a {
  color: white;
  font-family: "Century Gothic", monospace;
  font-size: 30px;
}

h1 {
  color: white;
  font-family: "Century Gothic", monospace;
  font-size: 50px;
}

p {
  color: white;
  font-family: "Century Gothic", monospace;
  font-size: 30px;
}

#obsimg {
  max-height: 300px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#rbximg {
  max-height: 150px;
  max-width: 512px;
  margin-left: auto;
  margin-right: 15px;
  display: block;
}

body {
  background-color: #383838;
}
